<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Return to Inminute</title>
    <style>
        body{
            background: linear-gradient(to bottom, white, #dee2ff);
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        h1 {
            font-size: x-large;
            font-weight: lighter;
            color: gray;
        }
    </style>
</head>
<body>
<h1>인미닛 페이지로 돌아가주세요</h1>
</body>
</html>